<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="excelExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <excelExport.Properties.Settings>
            <setting name="settingText1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="settingText2" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="settingText3" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="settingText4" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="settingText5" serializeAs="String">
                <value>I</value>
            </setting>
            <setting name="settingText6" serializeAs="String">
                <value>J</value>
            </setting>
            <setting name="settingText7" serializeAs="String">
                <value>K</value>
            </setting>
            <setting name="settingText8" serializeAs="String">
                <value>M</value>
            </setting>
            <setting name="settingText9" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="settingpivotSt" serializeAs="String">
                <value>A6</value>
            </setting>
            <setting name="settingpivotEd" serializeAs="String">
                <value>L526</value>
            </setting>
        </excelExport.Properties.Settings>
    </userSettings>
</configuration>